.form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 500px;
    margin: auto;
}

.create-spot-button {
    display: center;
    width: 100px;
    background-color: #fd5c63;
    color: white;
    box-shadow: 1px 1px 3px black;
    width: 100px;
    height: 30px;
}


.input-container{
    display: flex;
    justify-content: center;
    align-content: center;
}

.input-box{
    width: 500px;
    box-sizing: border-box;
    background-color: rgb(201, 216, 236);
}
.price-input-box {
    width: 485px;
    box-sizing: border-box;
    background-color: rgb(201, 216, 236);
}

.errors{
    color:red
}
