.form-container {
    display: flex;
    margin: auto;
    width: 500px;
}

.create-spot-button {
    display: inline-block;
    width: 100px;
    background-color: #fd5c63;
    color: white;
    box-shadow: 1px 1px 3px black;
    width: fit-content;
    height: 30px;
}

.update-spot-button {
    display: inline-block;
    width: 100px;
    background-color: #fd5c63;
    color: white;
    box-shadow: 1px 1px 3px black;
    width: fit-content;
    height: 30px;
}

.input-container{
    display: flex;
    justify-content: center;
    border: 2px black solid;
}

.input-box{
    width: 500px;
    box-sizing: border-box;
    background-color: rgb(201, 216, 236);
    border: 2px black solid;
}
.price-input-box {
    width: 485px;
    box-sizing: border-box;
    background-color: rgb(201, 216, 236);
    border: 2px black solid;
}

.errors{
    color: #fd5c63
}

.description-box {
    display:flex;
    width: 500px;
    height: 100px;
    box-sizing: border-box;
    background-color: rgb(201, 216, 236);
    border: 2px black solid;
}
