
.spotsimg {
    height: 250px;
    width: 250px
}

.spotscontainer{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    max-width: 1000px;
}

.spotitem {

}

.spotTileContainer{
    height: 360px;
    width: 400px;
    border: 1px black solid;
}

.child {
    display: flex;
    justify-content: center;
}
