.imgContainer {
    display: inline-block
}
.preview  {

}

.otherimg {

}

.overallContainer {
    display: inline-block;
    max-width: 1000px;
    position: relative;
    /* Move the element to the right by 50% of the container's width */
    left: 50%;
    /* Calculates 50% of the element's width, and moves it by that */
    /* amount across the X-axis to the left */
    transform: translateX(-50%);
}

.spots-area{
   padding-bottom: 25px;
}

.reserve-button {
    background-color: #fd5c63;
    color: white;
    box-shadow: 1px 1px 1px black;
    width: 250px;
    height: 30px;
}

.pricing-block {
    border: 2px solid black;
    border-radius: 10px;
    padding: 5px;
    box-sizing: border-box;
}

.child {
    display: inline-block;
    padding: 20px
}
.body {
    display: inline-flex;
    gap: 200px;
}

.reserve-area {
    display: flex;
    justify-content: center;
}

.reviewscontainer {
    width: 100%;
    height: 100%;
}

.reviewItem {
    width: 100%;
    height: 100%;
    border: 1px black solid;
}


.reviews-star {
 font-size: 20px;
 font-weight: bold;
}

.reviews-area {
    display: block;
}

.post-review-area {
    border: 1px white solid
}

.post-review-button {
    display: inline-block;
    width: 100px;
    background-color: #323232;
    color: white;
    box-shadow: 1px 1px 4px black;
    width: fit-content;
    height: 30px;
}
