.menu-items:hover {
    cursor: pointer;
}

.both-icons:hover {
    cursor: pointer;
}

.login-dropdown{
    cursor: pointer
}

.signup-dropdown{
    cursor: pointer
}

.login-dropdown {

    padding: 1px;
    border-top: none;
}

.signup-dropdown{
    padding: 1px;
    border-bottom: none;
}
